*{
    margin: 0;
    padding: 0;
    font-family : calibri, segoe ui,arial, tahoma, sans-serif;
}
body{
    background-color: #DDDDDD;
}
#wrapper{
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
}
#header{
    background: url(images/gambar4.jpg) repeat-x #555;
    hight :70px;
    width: 100%;
    padding: 5px;
    margin: 20px 0;
    overflow: hidden;

  
}
#header img{
    width: 80px; height: 35px;
    border-radius: 10px;

}

#menu-utama{
    margin-top: 3px;
    list-style: none;
}
#menu-utama li{
    float: left;
    padding: 8px 20px;
    border-right: 1px solid #555555;

}
#menu-utama li a{
    color: #ffffff;
    text-decoration: none;
}

#header form{
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}
#header form input{
    border: none;
    height: 20px;
}
#daftar-artikel{
    width: 470px;
    float: left;
}
.artikel{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.artikel img{
   float: left;
   margin-right: 10px;
   width: 200px;
   height: 165px;
}
.artikel b{
    color: #616060;
    background: #DDDDDD;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
.artikel p{
    margin: 10px 0;
    
}

.artikel a{
    display: block;
    text-align: right;
    color: #636363;
}
#sidebar ul{
    margin-left: 15px;
}

#sidebar {
    width: 270px;
    float: right;
}

#sidebar h2 {
    font-size: 10px;
    margin: 10px 0;
}
#sidebar p {
    line-height: 20px;
    color: #636363;
    
}

#sidebar ul li a {
    color:#636363;
    text-decoration: none;
    
}
#footer{
    clear: both;
    margin: 20px 0;
    text-align: center;
    background-color: #c0c0c0;
    padding: 5px;
    color: #000000;
}
.form_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.full-width{
    grid-column: 1/2;
}
.form_contact label{
    display: block;
}
.form_contact p{
    margin: 0;
}
.form_contact button, input, textarea{
    padding: 0.5em;
}
button{
    background: lightgray;
    width: 100%;
    border: 0;
}
button:hover, button:focus{
    background: cyan;
    outline: 0;
}
input:focus, textArea:focus{
    outline: 3px solid aqua;
}















